
{% extends 'pumas/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<div class="panel-group">
     <div class="panel panel-default">
     <div class="panel-heading">Approve Document & Plagirism</div>
     <div class="panel-body">

<div class="panel panel-success">
    <div class="panel-heading"><b>{{document.title}} | {{document.author}} | {{document.category}}</b><br /><hr />
    <a href="{{document.document.url}}" class="btn btn-info" role="button" target="blank">View full text</a>
    <a href="{{document.document.url}}" class="btn btn-info" role="button" download>Download pdf</a>
    </div>
    <div class="panel-body">
{{document.abstract}}
    </div>
 </div>
   
  <div class="row" style="margin-bottom:20px;">
<br />
  	<div class="col-md-12">
  	
  		<div class="panel panel-success">
      <div class="panel-heading">Plagirism Results</div>
      <div class="panel-body">
      <hr />
      <table>
      <th>File checked agaist</th>
      <th>Results</th>
      
		{% for plagiarism_results in plagiarism_results_list %}
			<tr>
			<td>{{plagiarism_results.0}}</td>
			<td>{{plagiarism_results.1}}</td>
			</tr>
		{% endfor %}
		
		</table>
      </div>
    </div>
  	</div>

  </div>

<div class="row">
<div class="col-md-12">
 <div class="panel panel-success">
    <div class="panel-heading">
    <a href="{% url 'supervisor_upload_view_url' %}?approval_status=approved&document_id={{document.id}}" class="btn btn-info" role="button" target="blank">Approve</a>
    <span class="pull-right"><a href="{% url 'supervisor_upload_view_url' %}?approval_status=rejected&document_id={{document.id}}" class="btn btn btn-danger" role="button">Reject</a></span>
    </div>
 </div>
</div>
</div>


</div>
</div>
</div>
{% endblock content %}
