{% extends 'pumas/base.html' %}


{% load staticfiles %}
{% block extra-css %}
<script>
$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
});

</script>

{% endblock extra-css %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="panel-group">
    
	    <div class="panel panel-default">
	      <div class="panel-heading">Documents Uploads</div>
	      <div class="panel-body">
			<div class="container" style="margin-top: 20px;">
			    <div class="row">
			    {% if is_lecture %}
			    	<a href="{% url 'admin:pumas_dessertation_add' %}"><button type="button" class="btn btn-default disabled">Dessertation</button></a>
			    	<a href="{% url 'admin:pumas_projectdocument_add' %}"><button type="button" class="btn btn-default disabled">Project Document</button></a>
			    	<a href="{% url 'admin:pumas_thesis_add' %}"><button type="button" class="btn btn-default disabled">Thesis</button></a>
			    	<a href="{% url 'admin:pumas_journal_add' %}"><button type="button" class="btn btn-default">Journal</button></a>
				    <a href="{% url 'admin:pumas_conferencepreceeding_add' %}"><button type="button" class="btn btn-default">Conference Preceeding</button></a>
				    <a href="{% url 'admin:pumas_bookchapter_add' %}"><button type="button" class="btn btn-default">Book Chapter</button></a>
			    {% else %}
			    	{% if is_student_undergraduate %}
			    		<a href="{% url 'admin:pumas_projectdocument_add' %}"><button type="button" class="btn btn-default">Project Document</button></a>
			    		<a href="{% url 'admin:pumas_dessertation_add' %}"><button type="button" class="btn btn-default disabled">Dessertation</button></a>
				    	<a href="{% url 'admin:pumas_thesis_add' %}"><button type="button" class="btn btn-default disabled disabled">Thesis</button></a>
				    	<a href="{% url 'admin:pumas_journal_add' %}"><button type="button" class="btn btn-default disabled">Journal</button></a>
					    <a href="{% url 'admin:pumas_conferencepreceeding_add' %}"><button type="button" class="btn btn-default disabled">Conference Preceeding</button></a>
					    <a href="{% url 'admin:pumas_bookchapter_add' %}"><button type="button" class="btn btn-default disabled">Book Chapter</button></a>
			    	{% else %}
			    		<a href="{% url 'admin:pumas_projectdocument_add' %}"><button type="button" class="btn btn-default disabled">Project Document</button></a>
			    		<a href="{% url 'admin:pumas_dessertation_add' %}"><button type="button" class="btn btn-default">Dessertation</button></a>
				    	<a href="{% url 'admin:pumas_thesis_add' %}"><button type="button" class="btn btn-default">Thesis</button></a>
				    	<a href="{% url 'admin:pumas_journal_add' %}"><button type="button" class="btn btn-default">Journal</button></a>
					    <a href="{% url 'admin:pumas_conferencepreceeding_add' %}"><button type="button" class="btn btn-default">Conference Preceeding</button></a>
					    <a href="{% url 'admin:pumas_bookchapter_add' %}"><button type="button" class="btn btn-default">Book Chapter</button></a>
				    	
			    	{% endif %}
			    {% endif %}
			    </div>
			</div>
		<hr />
	  	<div class="row" style="margin-bottom:20px;">
		<div class="col-md-4">
  	
  		<div class="panel panel-success">
      <div class="panel-heading">Dessertations</div>
      <div class="panel-body">
      <ul><hr />
		{% for dessertation in dessertations %}
			<li>{{dessertation.title}},<br />
			<a href="{{dessertation.document.url}}">View full text</a> <br />
     		<a href="{{dessertation.document.url}}" download>Download pdf</a></li>
     		<hr />
		{% endfor %}
		</ul>
      </div>
    </div>
  	</div>
  	
  	<div class="col-md-4">
  	    <div class="panel panel-success">
      <div class="panel-heading">Project Documents
      </div>
      <div class="panel-body">
		<ul><hr />
		{% for project_document in project_documents %}
			<li>{{project_document.title}},<br />
			<a href="{{project_document.document.url}}">View full text</a> <br />
     		<a href="{{project_document.document.url}}" download>Download pdf</a></li>
     		<hr />
		{% endfor %}
		</ul>
      </div>
    </div>
	</div>   
  	
  	
  	<div class="col-md-4">
  	    <div class="panel panel-success">
      <div class="panel-heading">Journals
      </div>
      <div class="panel-body">
		<ul><hr />
		{% for journal in journals %}
			<li>{{journal.title}},<br />
			<a href="{{journal.document.url}}">View full text</a> <br />
     		<a href="{{journal.document.url}}" download>Download pdf</a></li>
     		<hr />
		{% endfor %}
		</ul>
      </div>
    </div>
	</div>
     
</div>

<div class="row">
		<div class="col-md-4">
  	
  		<div class="panel panel-success">
      <div class="panel-heading">Conference Preceedings</div>
      <div class="panel-body">
      <ul><hr />
		{% for conference_preceeding in conference_preceedings %}
			<li>{{conference_preceeding.title}},<br />
			<a href="{{conference_preceeding.document.url}}">View full text</a> <br />
     		<a href="{{conference_preceeding.document.url}}" download>Download pdf</a></li>
     		<hr />
		{% endfor %}
		</ul>
      </div>
    </div>
  	</div>
  	
  	<div class="col-md-4">
  	    <div class="panel panel-success">
      <div class="panel-heading">Book Chapters
      </div>
      <div class="panel-body">
		<ul><hr />
		{% for bookchapter in bookchapters %}
			<li>{{bookchapter.title}},<br />
			<a href="{{bookchapter.document.url}}">View full text</a> <br />
     		<a href="{{bookchapter.document.url}}" download>Download pdf</a></li>
     		<hr />
		{% endfor %}
		</ul>
      </div>
    </div>
	</div>   
  	
  	
  	<div class="col-md-4">
  	    <div class="panel panel-success">
      <div class="panel-heading">Thesis
      </div>
      <div class="panel-body">
		<ul><hr />
		{% for thesis in thesiss %}
			<li>{{thesis.title}},<br />
			<a href="{{thesis.document.url}}">View full text</a> <br />
     		<a href="{{thesis.document.url}}" download>Download pdf</a></li>
     		<hr />
		{% endfor %}
		</ul>
      </div>
    </div>
	</div>
	      
</div>
	      </div>
	      
	    </div>
   </div>
{% endblock content %}