{% extends 'pumas/base.html' %} 
{% load staticfiles %}
{% load static %}

{% block extra-css %}
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
.mySlides {display:none;}
</style>
{% endblock extra-css %}

{% block content %}
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
      
      <div class="w3-content w3-section" style="max-width:500px">
	  	<img class="mySlides" src="{% static 'img/doc.jpeg' %}" style="width:100%">
	  	<img class="mySlides" src="{% static 'img/doc2.jpg' %}" style="width:100%">
	  </div>
	      <br />
	      Test url to view template <a href="{% url 'view_document_url' %}">View document</a>
	      <br />
	      Test url to supervisor upload view <a href="{% url 'search_results_url' %}">Search results</a>
	      
        <div class="row">
<br />
  	<div class="col-md-6">
  	
  		<div class="panel panel-success">
      <div class="panel-heading">News</div>
      <div class="panel-body">
		Title: How to Write an Abstract Published by: Carnegie Mellon University, Author: Philip Koopman, Publication date: October, 1997
      </div>
    </div>
  	</div>
  	
  	
  	<div class="col-md-6">
  	    <div class="panel panel-success">
      <div class="panel-heading">Recent documents
      </div>
      <div class="panel-body">
		<h1>Doc abstract</h1>
		
      </div>
    </div>
  	 </div>

  </div>
      
      
      </div>
     </div>
    </div>
 
 <script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
{% endblock content %}
