
{% extends 'pumas/base.html' %} 
{% block content %}
  <div class="panel-group">
    
    <div class="panel panel-default">
      <div class="panel-heading">Panel with panel-default class</div>
      <div class="panel-body"></div>
      <div class="panel panel-success">
      <div class="panel-heading">Panel with panel-success class</div>
	      <div class="panel-body">
	      Test url to upload template
	      <a href="{% url 'upload_url' %}">link to the upload page</a>
	      <br />
	      Test url to view template <a href="{% url 'view_document_url' %}">View document</a>
	      
	      <br />
	      Test url to supervisor upload view <a href="{% url 'supervisor_upload_view_url' %}">View document</a>
	      <br />
	      Test url to supervisor upload view <a href="{% url 'search_results_url' %}">Search results</a>
	      </div>
      </div>
      
     </div>
    </div>
{% endblock content %}
